<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <h1 class="text-center">Infographic App</h1>

            <form role="form" ng-submit="ctrl.submit()">
                <legend>Sign Up!</legend>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" id="email" placeholder="example@email.com" ng-model="ctrl.user.email">
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" name="" id="password" class="form-control" ng-model="ctrl.user.password" required="required">
                </div>
                <br>
                <div class="input-group">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
                <hr>
                <div>
                    <a ui-sref="login" class="btn btn-default">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>